node_modules/
Apps
lerna-debug.log
/**/*/dist
/**/*/.idea
/.idea
/**/*/*.db
/**/*/.yarn.lock
/**/*/node_modules/*
/**/*/yarn.lock
/**/*/yarn-error.log
/**/*/dka.env
/**/*/session-Default/*
/**/*/session/*
/**/*/.wwebjs_cache/*
yarn.lock
/packages/IoT/test/
/packages/Database/build/
