[submodule "packages/apis"]
	path = packages/apis
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-Apis.git
[submodule "packages/database"]
	path = packages/database
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-Database.git
[submodule "packages/react"]
	path = packages/react
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-React.git
[submodule "packages/document"]
	path = packages/document
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-Document.git
[submodule "packages/iot"]
	path = packages/iot
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-IoT.git
[submodule "packages/server"]
	path = packages/server
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-Server.git
[submodule "packages/client"]
	path = packages/client
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-Client.git
[submodule "packages/cli"]
	path = packages/cli
	url = git@github.com:YovanggaAnandhika/DKAFramework-Packages-cli.git
